.App {
  background-color: #444;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background: linear-gradient(
      to right,
      #222, 
      rgba(0, 0, 0, 0.75)
    ), url('./donald.jpg');
  background-repeat: no-repeat;
  background-position: top right;
  background-blend-mode: difference;
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
